.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family:monospace;
}

.App form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 26em;
  border: 1px solid black;
  padding: 6em;
  font-weight: 300;
  font-size: normal;
}

.App form input {
  /* margin: 1em 0; */
}
.App form div {
  margin-bottom: 20px;
}
.App form div label {
  font-size: 1.1em;
}

.error {
  color: crimson;
}